#totalAmount {
  display: flex;
  align-items: baseline;
  justify-content: center;
}


.totalAmount {
  font-size: 50px;
}

#recordList {
  justify-content: center;
}

.list-group {
  display: flex;
  flex-direction: row;
}


.fas {
  width: 70px;
}


.recordName {
  width: 150px;
}


.btn-section {
  display: flex;
  align-items: center;
}

.expense {
  display: flex;
  justify-content: center;
}


